* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#secondText {
  font-weight: bold;
  color: orange;
  font-size: 17px;
}

.container {
  background-image: url("..images/California@2x.png");
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.container h1 {
  padding-top: 400px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: space-evenly;
}
.row {
}

nav {
  background: rgb(255, 0, 0);
  height: 50px;
}
